
.nav{
    background-color: transparent;
    margin: 0px;
    padding: 0px 90px;
    /* margin-bottom: 200px; */
    /* height: 56px; */
    z-index: 9999;
    transition: 0.3s ease-in-out;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    animation: scale-down;
    /* animation-timeline: scroll;
    a */
    border-bottom: 1px solid rgba(255, 255, 255,.5);
    color: white
}
.nav-active { 
    background: white;  
    color : black
}
.bg{
    background-color: rgb(13, 13, 51);
}
.text_color{
    color:#FD972D
}

.nav-logo{
    
    margin: 10px 0px;
    border: 2px solid #8AB863;
    border-radius: 10px;
    background: white;
    display:block;
    z-index:9999;
}
.navImg{
    width: 1000px;
    margin: 0px 0px;
    height: 90%;
    padding: 0px 0px;
    visibility: visible;
    display: flex;
}
.nav-menu{
    display :grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 40px;
    margin-left: auto;
    align-items: center;
    z-index:9999;

}

.nav-list{
    /* padding: 15px 1%; */
    margin: 0px;
    /* padding: 40px 0px; */
    cursor: pointer;
    transition: 0.3s ease-in-out;

   
}
.nav-list:hover{
    border-bottom: 1px solid rgb(138, 184, 99);
    color: rgb(138, 184, 99);
}


.menu-icon{
    display: none;
}
.nav li{
    list-style-type: none;
}
  .nav-links{
    font-weight: bold;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.2s ease-in-out;
}

.nav-links:hover{
    color: #8AB863;
    border-bottom: 1px solid #8AB863;
}

.nav-side{
    margin-left: 38%;
    display :flex;
    font-size: 20px;
}
.fa-chevron-down{   
    font-size: 10px;
   padding-left: 4px;
   margin-top: 4px;
}

.SignUp{
    display: none
}
.Login{
    display: none;
}
.Contact{
    display: none;
}

.terms{
    margin-left: 20px;
}
.termsList{
    position:-webkit-sticky; 
    position:sticky;
     top:100px; 
     height:480px;
     margin-bottom: 20px
}


@media only screen  and (max-width: 1200px){
    .nav{
        z-index: 99;
        margin: 0;
        padding: 0px 20px;
    }
        
    .nav-menu {
        background-color: white;
        color: black;
        /* float: left; */
        height: 0px;
        width: 0px;
        height: auto;
        position: absolute;
        top: 0;
        /* left:100px; */
        display: flex;
        opacity: 0;
        align-items: stretch;
        flex-direction: column;
        justify-content: flex-start;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: 0.3s ease-in-out;
        margin-left: 0px;
        -webkit-tap-highlight-color: transparent !important;
        outline: none !important;
        visibility: hidden;
    }

    .Contact{
            display: block
    }
    
    .nav-menu.active{
        width: 100%;
        height: 850px;
        right: 0px;
        opacity: 1;
        z-index: 1;
        visibility: visible;
        padding: 20px;
        padding-top: 110px
        

    }
    
   
    .nav-links {
        color: black;
        /* display: block; */
        width: 100%;
        padding:  20px;
        align-items: left;
        font-size: 20px;
        margin: 0px;
        
    }
    .nav-links:hover{
                color:rgba(0, 0, 255,.5);
                border: none
    }
    .nav-list:hover{
        border:none
    }

    .nav-list{
        padding: 10px;
    }
    .nav-menu{
    grid-gap: 00px;

    }
    .nav-side{
        margin-left: 1%;
        padding: 8px 0px;
        color:rgb(57, 87, 219);
        justify-content: center;
       
    }
    .menu-icon{
        /* padding-top: 38px; */
        font-size: 25px;
        display: block;
        cursor: pointer;
        align-items: center;
        text-align: center;
        display: flex;
        z-index: 9999;
        -webkit-tap-highlight-color: transparent !important;
        outline: none !important;
    }
    
    .nav-logo{
           z-index: 999999999999!important;
    
    }
  
     
}
@media only screen  and (max-width: 700px){
    .nav-logo{
        font-size: 25px;
        
    
    }
    .sideContent .log{
            display: none;
    }
    .menu-icon{
       
        margin-left: 1%;
    }

.terms{
    margin-left: 0px;
    width: 100%
}

.signUpTop{
    display: block;
    background: transparent;
    border: 1px solid blue;
    color:blue;



}
}