.nextButtonStyle{
    width: 35px;
    height: 35px; 
    background: transparent;
    border-width: 3px;
    border-Color: #FD972D;
    display: flex;
    align-items:center;
    /* // borderStyle: 'dotted'; */
    padding: 10px; 
    border-radius: 1%;
     border-color: white; 
    cursor: pointer;
    margin-top: 300px
}
.about{
    background-image: url(../src/assets/images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
a, LINK {
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}
.sideChat{
    position: fixed;
    bottom: 16px;
    right: 30px;
}
button{
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}
