.nextButtonStyle{
    width: 35px;
    height: 35px; 
    background: transparent;
    border-width: 3px;
   
    display: flex;
    align-items:center;
    /* // borderStyle: 'dotted'; */
    padding: 10px; 
    border-radius: 1%;
     border-color: white; 
    cursor: pointer;
    margin-top: 300px
}
.about{
    background-image: url(../src/assets/images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
a, LINK {
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}
.sideChat{
    position: fixed;
    bottom: 16px;
    right: 15px;
    z-index: 9999;
}
button{
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
}
.values{
    background-image: url(../src/assets/images/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
    margin: 0;
    position: absolute;
    right: 20px;
    top:0;
   /* overflow: hidden */
   display: none

}
.text{
    height: 100px;
    width: 200px;
    position: relative;
    top:0;
    animation: effect 8s linear infinite
}

@keyframes effect {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
mark{
    background: transparent;
    position: absolute;
    right:50%;
    transform-origin: 0 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:800;
    text-transform: capitalize;
    color: black
}  
.text-container{
    max-width: 100%;
    margin: 0px 10px
}
  .animated-text {
    /* display: inline-block; */
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.15em; /* Adjust the letter spacing */
    animation:
    typing 6s steps(25, end),
    change-color 3s infinite; /* Start blinking after 3 seconds */
  }
  
  
  @keyframes change-color {
    0%, 25% { color: white; }
    50%, 75% { color: rgba(0, 128, 0, .6); }
    100% { color: #008000; }
   
  }
  .blink-text{
    
    overflow: hidden;
    white-space: nowrap;
    /* visibility: hidden; */
    margin: 0;
    width: 0;
    max-width: 100%;
    letter-spacing: 0.15em; 
    animation:
      typing 3s steps(25, end) 3s forwards
  }
  @keyframes typing {
    from { width: 0; 
        visibility: visible; }
    to { width: 100%; }
  }
  .footer{
    
    position: relative
  }
  .footer-child{
    position: absolute;
    top: -125px;
    /* left: 0px; */
    margin:20px 0px
   
    
}
.TeamBackGroundImg{
    background-image: url(../src/assets/images/TeamImg.jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
.modal{
    position: fixed!important;
    top: 0%;
    left: 50%;
    width: 500px;
    transform:  scale(0)  ;
    transition: 200ms ease-in-out;
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 5px 40px 14px rgba(38.81, 136.75, 227.16, 0.13);
    z-index: 9 !important;
    border-radius: 15px;
  }
  
  .modal-show {
    top:50%;
    transform: translate(-50%, -50%) scale(1);
  }
  .overlay {
    display: block;
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1
    /* backdrop-filter: blur(2px); */
    /* transition: transform 0.3s ease, opacity 0.3s ease; */
  }
  .blink-error {
    animation: blink .2s 3;
  }
  .list li {
    list-style-type: disc;
    text-transform: capitalize; 
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
    background-color: white;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @media only screen  and (max-width: 700px){
  .modal{
    width: 350px;
    
  }
  }